@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background: black ;
}

.country-carousel {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  overflow: hidden;

  .country {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
  }
}

.tx-info {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));;
}

.text-shadow {
  color: white;
  text-shadow: 0 0 6px gray("800");
}

.countdown {
  font-size: 50vw;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;

  .countdown-background {
    height: 100%;
    width: 100%;
    background: black;
    position: absolute;
    top: 0;
    z-index: -50;
    animation-duration: 50s;
  }
}

.monospace {
  font-family: monospace !important;
}

body::-webkit-scrollbar {
  display: none;
}

.delay-30s {
  animation-delay: 30s;
}

.display-1 {
  font-size: 5vw;
}

.display-4 {
  font-size: 4vw;
}
